.para{
    background-color: green;
    font-size : 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white;
}


.para1{
    background-color: yellow;
    font-size: 30px;
    color : black;
}